#writer-page {
  padding-top: var(--navbarHeight);
  text-align: center;
  min-height: 100%;
}

.writer-initial {
  font-size: 1.2rem;
  font-weight: bold;
}

#writer-page .subtitle {
  padding: 2rem;
}

.writer-card {
  padding-bottom: 2rem;
}

.writer-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writer-name {
  width: fit-content;
  cursor: pointer;
}

.writer-name:hover {
  text-decoration: underline;
}
