.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border-radius: 4px;
  padding: 1rem 0;
}

.book-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.book-card img {
  margin: auto;
  object-fit: contain;
  max-height: 200px;
}

.book-card-details {
  text-align: center;
}
