.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border-radius: 4px;
  padding: 1rem 0;
  animation: fadeInUp 0.25s ease-out;
  border-radius: 4px;
}

.book-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.book-card img {
  margin: auto;
  object-fit: contain;
  max-height: 200px;
  border-radius: 4px;
}

.book-card-details {
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
