/* home-footer */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 0;
  width: 100%;
  background: var(--primaryDark);
  color: var(--primaryWhite);
}

.footer-profile-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 860px;
  gap: 20px;
}

.footer-profile {
  padding: 1rem 0 2rem;
  min-width: 200px;
}

.footer-profile a {
  font-style: italic;
  line-height: 2rem;
  width: fit-content;
}

.footer-profile a:hover {
  text-decoration: underline;
}

.footer-profile p {
  font-weight: bold;
}

.footer-profile-links {
  display: flex;
  flex-direction: column;
}

/* #home-footer > p:last-child {
  text-align: right;
} */
