<div id="about">
	<div id="about-content">
		<div class="about-image-wrapper">
			<img src="/assets/about-page/Manuelocrates2.jpg" class="about-image" />
		</div>
		<div class="about-text">
			<div class="subtitle">About</div>
			<p>
				At LIBRARYANUEL, our quest for knowledge is deeply rooted in the fertile soil of Greek philosophy.
			</p>
			<p>
				Our guiding luminary, Manuelocrates, serves as our contemporary Aristotle—an authentic philosopher whose teachings transcend time, illuminating the path to enlightenment. Just as Aristotle left a legacy of philosophy and science to the world, Manuelocrates has graced us with a treasure trove of knowledge and an unwavering passion for learning.
			</p>
			<p>
				Join us on our odyssey as we honor the timeless wisdom of Greece, guided by Manuelocrates's sagacity and our shared ardor for the pursuit of knowledge. Together, we voyage into the limitless realms of human thought, paying homage to the legacy of ancient philosophers and paving the way for future generations in their quest for truth and understanding.
			</p>
		</div>
		<div class="about-image-wrapper">
			<img src="/assets/about-page/Manuelocrates2.jpg" class="about-image" />
		</div>
	</div>