<!-- /* Made by Huseyin, pushed by Jonathan */ -->


<div class="gallery">


	<div class="logo">
		<img src="assets/img/gallery-logo-pic/java logo.png" alt="Java Logo">
	</div>
	<div class="logo">
		<img src="assets/img/gallery-logo-pic/angular-logo.png" alt="Angular Logo">
	</div>
	<div class="logo">
		<img src="assets/img/gallery-logo-pic/spring-boot-logo.png" alt="Spring Logo">
	</div>
	<div class="logo">
		<img src="assets/img/gallery-logo-pic/css-3-logo.png" alt="CSS Logo">
	</div>
	<div class="logo">
		<img src="assets/img/gallery-logo-pic/MySQL-logo.png" alt="MYSQL Logo">
	</div>

	<div class="logo">
		<img src="assets/img/gallery-logo-pic/typescript-logo-.png" alt="TypeScript Logo">
	</div>

	<div class="logo">
		<img src="assets/img/gallery-logo-pic/html5-logo.png" alt="HTML Logo">
	</div>
</div>