/* Made by Huseyin, pushed by Jonathan */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: var(--navbarHeight);
  min-height: 100%;
}

.logo {
  flex: 0 0 45%;
  margin: 10px;
  text-align: center;
}

.logo img {
  width: 150px;
}
