<div id="contact-page">
	<div id="contact-page-content">

		<div class="subtitle">Contact</div>

		<div>
			<p>For inquiries or assistance, please don't hesitate to contact us. Our team is here to help you with any questions or concerns.</p>

			<p>
				Contact Information: <br />

				Address: 123 Librarystreet, Brussels<br />
				Email: info@thebestlibrary.com<br />
				Phone: +1 (123) 456-7890<br />
				<br />
				We're available during regular business hours to address your needs. <br />Feel free to reach out to us via email or give us a call, and we'll respond as promptly as possible.
			</p>
		</div>

	</div>
</div>