#contact-page {
  min-height: 100%;
}

.contact-container {
  padding-top: calc(1.5 * var(--navbarHeight));
  text-align: center;
}

form {
  margin: 20px auto;
  max-width: 400px;
}

.form-group {
  margin: 10px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
