#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: calc(2rem + var(--navbarHeight));
  margin: auto;
  min-height: 100%;
}

#home-new-books {
  min-height: 380px;
  width: 90%;
}

#home-category {
  text-align: center;
  width: 100%;
  border-top: 2px solid rgb(0, 0, 0, 0.2);
  padding: 2rem 0;
  margin-bottom: 2rem;
  width: 90%;
}

#home-category .subtitle {
  padding-bottom: 0.6rem;
}

.home-category-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  max-width: 940px; /* max 4 tiles per row */
}
