<app-navbar></app-navbar>

<div id="home">
	<div class="home-title">
		<div class="home-title-left">
			<p class="subtitle">Explore, read, and learn with our vast digital library collection.</p>
			<button>Read more</button>
		</div>
		<div class="home-title-right">
			<img src="assets/img/home.svg" />
		</div>
	</div>



	<div id="home-category">
		<div class="subtitle">Genres</div>
		<div class="home-category-wrapper">
			<app-category-card-small *ngFor="let genre of genres" [genre]="genre"></app-category-card-small>
		</div>
	</div>


	<div id="home-new-books">
		<div class="subtitle">New books</div>
		<ngb-carousel [interval]="5000" class="carousel">
			<ng-template ngbSlide *ngFor="let book of newestBooks">
				<div class="carousel-book " (click)="handleCardClick(book)" routerLink="/book">
					<img [src]="book.image" />
					<div class="carousel-book-text">
						<p class="subtitle">{{book.title}}</p>
						<p class="italic">{{book.description}}</p>
					</div>
				</div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>
</div>

