<app-navbar></app-navbar>

<div id="home">
	<!-- page title -->
	<div>
		<p class="subtitle">Explore, read, and learn with our vast digital library collection.</p>
	</div>

	<!-- new books -->
	<div id="home-new-books">
		<app-new-books-carousel />
	</div>

	<!-- book categories -->
	<div id="home-category">
		<div>
			<p class="subtitle">Browse your favourite genres</p>
		</div>
		<div class="home-category-wrapper">
			<app-category-card-small *ngFor="let genre of genres" [genre]="genre"></app-category-card-small>
		</div>
	</div>
</div>