@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Bitter:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  /* dimensions */
  --navbarHeight: 120px;
  --buttonPadding: 8px 12px;

  /* colours */
  --primaryBlack: black;
  --primaryWhite: white;
  --primaryBlue: #008bff;
}

* {
  font-family: "Bitter", serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.selected-page {
  background: var(--primaryWhite) !important;
  border: none !important;
  border-radius: 50px !important;
  color: var(--primaryBlack) !important;
}
