<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Bitter:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  /* dimensions */
  --navbarHeight: 48px;

  /* colours */
}

* {
  font-family: "Bitter", serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
=======
/* You can add global styles to this file, and also import other style files */
/* ´dit is een comment */
>>>>>>> e6ab43202f158bbe8b6d9346d434cd2bff7052f8
