@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Bitter:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  /* dimensions */
  --navbarHeight: 120px;
  --buttonPadding: 8px 12px;

  /* colours */
  --primaryBlack: black;
  --primaryWhite: white;
  --primary: #0054a4;
  --primaryDark: #002649;
  --secondary: #808080;
  --accent1: #6b8e23;
  --accent2: #ffff99;
  --accent3: #ff5733;
  --textColour: #333333;
}

* {
  font-family: "Bitter", serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.italic {
  font-style: italic;
}

.subtitle {
  font-size: 2rem;
  font-weight: bolder;
}
